<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		<h1>{{.Title}}</h1>
		<h2>Are you in search of your dream city?</h2>
		<p>The sorted cities by {{.Criteria}} are:
			<ol>
				{{range .Cities}}<li>{{ . }}</li>{{end}}
			</ol>
		</p>
		<p>Go back to: <a href="/">home</a></p>
	</body>
</html>
